<card>
    <div class="card-img-top " onclick= "window.location={{location}}">
        <img class="rounded-corners" src={{photo}} alt="photo">
        <div class = "p-2">
            <h4><strong>{{title}}</strong></h4>
            <p>{{description}}</p>
            {{#if copies}}
                <p>Available Copies: {{copies}}</p>
            {{/if}}
        </div>
    </div>
</card>