<card>
    <div class="card-img-top" onclick= "window.location={{location}}">
        <img src={{photo}} alt="photo">
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        {{#if copies}}
            <p>Available Copies: {{copies}}</p>
        {{/if}}
    </div>
</card>