
{{>header}}

<main>

    <div id="library-info-main" class="d-flex flex-column justify-content-center ">


        <div class="d-flex flex-row justify-content-start div-paragraph-margins-55-160" id="library-info-">
            <img src="{{library.profile_picture}}" alt="library image" style="width:282px; height:282px;">
            <div class="d-flex flex-column justify-content-start paragraph-margins-58-79">
                <!-- the margins are not working -->
                <div id="library-title ">
                    <h1><strong>{{ library.name }}</strong></h1>
                    <h3>{{library.address}}</h3>
                </div>
                <div id="library-info">
                    <p>{{library.summary}}</p>
                </div>
            </div>

        </div>

    </div>

    <div class="d-flex flex-column justify-content-center div-paragraph-margins-55-160 flex-wrap" id="location-working-hours">

        <h2><strong>Location & Working Hours</strong></h2>

        <div class="d-flex flex-row justify-content-start ">
            {{!-- {{library.location }}{{library.lolt}} --}}
            {{!-- {{>map lon=library.location.lon lat=38.29039542648134 zoom=16}} --}}
            {{log (workingHours library.working_hours)}}
            {{>map lon=(longtitude library.location) lat=(latitude library.location) zoom=16}}

            {{!-- add an openlayer map here in a div  --}}
            <div id="map" style="width: 100%, height: 400px"></div>

            <div class="d-flex flex-column justify-content-start" id="library-info-a-c-w">

                <div class="d-flex flex-column justify-content-start" id="libary-address">
                    <h3>Address</h3>
                    <p>{{library.address}}</p>
                </div>

                <div class="d-flex flex-column justify-content-start" id="libary-contact">
                    <h3>Contact</h3>
                    <p>Telephone: {{library.phone}}</p>
                    <p>Email: {{library.email}}</p>
                </div>

                <div class="d-flex flex-column justify-content-start" id="libary-working">
                    <h3>Working Hours</h3>
                    <!-- to be fixed -->
                    <table>
                        {{#each (workingHours library.working_hours) as |value key|}}
                        <tr>
                            <td>{{key}}:</td>
                            <td>{{value}}</td>
                        </tr>
                        {{/each}}

                    </table>


                </div>




            </div>

        </div>


    </div>

    <div class="recommend" id="recommended-books">
        <h2 class="h2"><strong> Recommended Books </strong></h2>

        <div class="scrolling" id="scrolling-recommended-books">
            {{#each book}}
            {{> card photo=photo title=title description=description copies=copies location=( encode (concat 'book_info/' title ))}}
            {{/each}}


        </div>
    </div>

</main>