<script src="javascript/filters.js"></script>
<script src="javascript/show_pages.js"></script>
<script src="javascript/search.js"></script>


<script>

    window.onload = () => {
        window.gFilters ={} ;

        {{!-- console.log("{{stringFilters}}") --}}
        {{!-- for some reason I can't seem to be able to decode the stringFilters  --}}
        {{!-- console.log(decodeURIComponent("{{stringFilters}}")) --}}

        {{!-- if ("{{stringFilters}}"){
            filters = JSON.parse("{{ decode ( stringFilters ) }}");
        }
        else {
            filters = {};
        } --}}

        {{!-- get the value from the search bar rendered by the server --}}
        let searchBarValue = '{{searchBarValue}}'



        // let filters =  JSON.parse(filterString);
        {{!-- Havent implemented the pages yet  --}}
        createPages(2); pageSelector(); 
        
        addShowMore();
        addFilterListeners(window.gFilters); 

        window.gData = placeAllBooksByTitle(searchBarValue,window.gFilters);
        
        {{!-- reconfigureSearchBar(filters); --}}
    }
</script>


{{>header}}

<main>

    <div class="d-flex flex-row justify-content-start">

        <div class="d-flex flex-column justify-content-start" id="filters">

            {{>filterCategories category='Genre' categoryFilter='genre' list=genre list_all=all_genre}}

            {{>filterCategories category='Availability' categoryFilter='availability' list=availability}}


            {{!-- <div class="filters d-flex flex-column justify-content-start " id="release-filter">

                <h3>Release Date</h3>
                <label for="customRange3" class="form-label">Example range</label>
                <!-- <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3" style="width: 420px;"> -->
                <!-- <input type="text" id="amount" class="filter-range"> -->
                <!-- <div id="slider-range"></div>
                <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 10%; width: 10%;"></div><span
                tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span
                tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span>
                -->

            </div> --}}

            {{>filterCategories category='Edition' categoryFilter='edition' list=edition list_all=all_edition}}

            {{>filterCategories category='Publisher' categoryFilter='publisher' list=publisher list_all=all_publisher}}


            {{>filterCategories category="Language" categoryFilter="language" list=language}}

            {{>filterCategories category='Library' categoryFilter='library' list=library}}




            {{!-- <div class="filters d-flex flex-column justify-content-start " id="library-filter">
                <input type="text" name="" id="library-filter-input" placeholder="Region or Library"
                    style="width: 70%;">
            </div> --}}

        </div>


        <div class="d-flex flex-column justify-content-start" id="search-content">

            <div class="selected-filter-list d-flex flex-row justify-content-start " id="filter-selection">
            </div>



            <div class="result-pages d-flex flex-row justify-content-start flex-wrap" id="results">
                {{!-- {{#each book}}

                {{> card photo=photo title=title description='description' copies='2' location=( encode (concat
                'book_info/' isbn ))}}

                {{/each}} --}}
            </div>


            <div class="page-selector" id="page-selector">
            </div>



        </div>


    </div>

</main>